@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    --Dark-gray: hsl(0, 0%, 59%);

    --font-family: 'Kumbh Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:var(--Dark-cyan);
    font-family: var(--font-family);
    
    
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.container{
    width: 23%;
    height: 50%;
    background-color: white;
    border-radius: 1em;  
    overflow: hidden;
    position: relative;
}


.pattern-card{
    width: 100%;
}

.avatar{
    position: absolute;
    top:30% ;
    left: 40%;
    border-radius: 50%;
    outline: 5px solid white;
}
.midle-part{
    margin-top: 6rem;
    border-bottom: 1px solid rgba(64, 66, 65, 0.185) ;
    padding-bottom: 3em;
    width: 100%;
    
}

#firstp{
    font-size: 18px;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    text-align: center;
    
}

#firstp span{
    font-weight: 400;
    color: var(--Dark-gray);
   
}

#secop{
    font-weight: 400;
    color: var(--Dark-gray);
    text-align: center;
}

.lower-part{
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
}

h5{
    font-size: 18px;
    text-align: center;
    color:var(--Very-dark-desaturated-blue);
    padding-bottom: 5%;
}

.lower-part p{
    text-align: center;
    font-size: 15px;
    color: var(--Dark-grayish-blue);
}