@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    --Dark-gray: hsl(0, 0%, 59%);

    --font-family: 'Kumbh Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:var(--Dark-cyan);
    font-family: var(--font-family);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh,
    left 45vw top 44vh ;

}


.wrapper{
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.container{
    max-width: 420px;
    background-color: white;
    border-radius: 1em;  
    overflow: hidden;
}


.pattern-card{
    width: 100%;
}

.avatar{
    border-radius: 50%;
    outline: 5px solid white;
    margin-top:-50px;
    margin-bottom: 20px;
}
.midle-part{
    border-bottom: 1px solid rgba(64, 66, 65, 0.185) ;
    padding-bottom: 3em;
    width: 100%;
    
}

#firstp{
    font-size: 18px;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 0.5em;
    
}

#firstp span{
    font-weight: 400;
    color: var(--Dark-gray);
   
}

#secop{
    font-weight: 400;
    color: var(--Dark-gray);

}

.lower-part{
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
}

h5{
    font-size: 18px;
    color:var(--Very-dark-desaturated-blue);
    margin-bottom: 5%;
    font-weight: 700;
}

.lower-part p{
    text-align: center;
    font-size: 12px;
    color: var(--Dark-grayish-blue);
    letter-spacing: 1px;
}